/* commons */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


/* header */
header {
    width: 90%;
    height: 30%;
}
/* aside */
section {
    width: 10%;
    height: 100%;
    order: -1;
}
/* main */
main {
    width: 90%;
    height: 70%;
}
/* footer */
footer {
    width: 100vw;
    height: 10vh;
}

@media screen and (min-width: 420px) {
    header {
        width: calc(100% - 200px);
        height: 30%;
    }
    /* aside */
    section {
        width: 200px;
        height: 100%;
        order: -1;
    }
    /* main */
    main {
        width: calc(100% - 200px);
        height: 70%;
    }
}

/* debug */
.debug {
    background-color: aqua;
}

.debug header {
    background-color: blanchedalmond;
}

.debug section {
    background-color: brown;
}

.debug main {
    background-color: chartreuse;
}

.debug footer {
    background-color: chocolate;
}