/* commons */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.scroll-container {
    width: 90%;
    height: 100%;
    overflow-y: scroll;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

button.upgrade {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 10px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 2em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    padding: 2px 10px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

nav ul li a {
    color: rgba(122,124,129,255);
}
/* aside */
section {
    width: 10%;
    height: 100%;
    order: -1;
}

section .top-container,
section .bottom-container {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section ul li a {
    display: none;
    color: rgba(122,124,129,255);
    font-size: 10px;
}

.top-container {
    height: 80%;
}

.logo {
    width: 30px;
    height: 30px;
}

#logo-small {
    width: 70%;
    padding-top: 2px;
}

#logo-big {
    width: 70%;
    display: none;
}

#playlist {
    display: none;
    padding-top: 10px;
}

.titolo {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.create-playlist {
    color: rgba(122,124,129,255);
    font-size: 10px;
    font-weight: 700;
}

.create-playlist i {
    background-color: gray;
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding: 5px;
    margin-right: 5px;
}

.nome li {
    margin-top: 10px;
}

.bottom-container {
    height: 20%;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.bottom-container li {
    margin-bottom: 5px;
}

#download {
    transform: scale(.75);
}

#profile {
    border-radius: 50%;
    background-color: gray;
}

.bottom-container li:last-child a {
    color: white;
    font-weight: 700;
}


/* main */
main {
    width: 100%;
    min-height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.categoria {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-top: 10px;
}

.sottocategoria {
    width: 100%;
    font-size: 10px;
    color: rgba(122,124,129,255);
    padding: 5px 0 10px;
}

main .contenuto {
    width: 170px;
    min-height: 180px;
    margin: 5px;
}

main .contenuto img {
    width: 100%;
}

main .contenuto .album {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 5px 0;
}

main .contenuto .artista {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: rgba(122,124,129,255);
}

.rounded {
    border-radius: 50%;
}

/* footer */
footer {
    width: 100vw;
    height: 10vh;
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.footer-container .left,
.footer-container .right {
    width: 30%;
    height: 100%;
}

.footer-container .central {
    width: 40%;
    height: 100%;
}

@media screen and (min-width: 420px) {
    
    section {
        width: 150px;
        height: 100%;
        order: -1;
    }

    section .top-container,
    section .bottom-container {
        align-items: flex-start;
        padding-left: 10px;
    }
    
    .logo {
        width: 150px;
        height: 70px;
    }

    #logo-small {
        display: none;
    }

    #logo-big {
        display: inline-block;
    }

    #playlist {
        display: inline-block;
    }

    .bottom-container li:first-child {
        width: 130px;
        border-bottom: 1px solid white;
    }

    section ul li {
        display: flex;
        align-items: center;
    }

    section ul li a {
        display: inline-block;
    }

    .scroll-container {
        width: calc(100% - 150px);
    }
   
}

/* debug */
.debug {
    background-color: black;
}

/* .debug .icon {
    border: 1px solid black;
} */
/* 
.debug header {
    background-color: blanchedalmond;
}

.debug section {
    background-color: brown;
}

.debug section .top-container {
    background-color: darkmagenta;
}

.debug main {
    background-color: chartreuse;
} */

/* .debug main .contenuto {
    background-color: darkblue;
} */

.debug footer {
    background-color: chocolate;
}

.debug .footer-container .left,
.debug .footer-container .right {
    background-color: darkseagreen;
}