/* commons */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.scroll-container {
    width: 90%;
    overflow-y: scroll;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

/* Setting delle scroll-bar */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* header */
header {
    width: calc(90% - 5px);
    height: 100px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 5px;
    z-index: 1000;
}

.pulsante {
    width: 100%;
    text-align: right;
    align-self: start;
}

button.upgrade {
    font-size: 10px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 2em;
    margin: 10px 8px;
}

button.upgrade:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul li {
    padding: 2px 10px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.underline {
    width: 30%;
    border: 1px solid lime;
    display: none;
}

nav ul li:hover .underline {
    display: block;
}

nav ul li a {
    color: rgba(122,124,129,255);
}
/* aside */
section {
    width: 10%;
    height: 100%;
    order: -1;
    background-color: black;
}

section .top-container,
section .bottom-container {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container {
    height: 85%;
}

.bottom-container {
    height: 15%;
    justify-content: flex-end;
    overflow-y: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.bottom-container li {
    margin-bottom: 5px;
}

.bottom-container li:last-child a {
    color: white;
    font-weight: 700;
}

section ul li a {
    display: none;
    color: rgba(122,124,129,255);
    font-size: 10px;
}

.logo {
    width: 30px;
    height: 30px;
}

#logo-small {
    width: 70%;
    padding-top: 2px;
}

#logo-big {
    width: 70%;
    display: none;
}

#playlist {
    height: 20%;
    display: none;
    padding-top: 10px;
}

.titolo {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.create-playlist {
    color: rgba(122,124,129,255);
    font-size: 10px;
    font-weight: 700;
}

.create-playlist:hover i {
    background-color: white;
}

.create-playlist:hover {
    color: white;
}

.create-playlist i {
    background-color: gray;
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding: 5px;
    margin-right: 5px;
}

.nome {
    width: 80%;
    height: 100%;
    overflow-y: auto;
}

.nome li {
    margin-top: 10px;
}

#download {
    transform: scale(.75);
}

#profile {
    border-radius: 50%;
    background-color: gray;
}

/* main */
main {
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 100px;
}

.categoria {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-top: 10px;
    margin-left: 5px;
}

.sottocategoria {
    width: 100%;
    font-size: 10px;
    color: rgba(122,124,129,255);
    padding: 5px 0 10px;
    margin-left: 5px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    display: none;
} 

.overlay i {
    font-size: 60px;
    color: white;
    margin-top: 50%;
    transform: translate(0, -50%);
}

main .contenuto:hover .overlay {
    display: block;
}

main .contenuto {
    width: calc(100% / 2 - 10px);
    min-height: 180px;
    margin: 5px;
    position: relative;
}

main .contenuto img {
    width: 100%;
}

main .contenuto .album {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 5px 0;
}

main .contenuto .artista {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: rgba(122,124,129,255);
}

.rounded {
    border-radius: 50%;
}

/* footer */
footer {
    width: 100vw;
    height: 50px;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1001;
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.footer-container .left {
    justify-content: flex-start;
}

.left img {
    width: 30px;
    height: 30px;
}

.left .image,
.left .info,
.left .like {
    margin-left: 8px;
}

.left .info {
    width: 30%;
}

.left .info div:first-child {
    font-size: 10px;
    font-weight: 700;
    color: white;
}

.left .info div:last-child {
    font-size: 8px;
    font-weight: 700;
    color: rgba(122,124,129,255);
}

.left .info div:last-child:hover,
.like i:first-child:hover,
.like i:last-child:hover {
    color: white;
}

.like {
    font-size: 12px;
    color: rgba(122,124,129,255);
}

.like i:first-child {
    margin-right: 8px;
}

.footer-container .left,
.footer-container .right {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-container .central {
    width: 40%;
    height: 100%;
}

.player {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player i:nth-child(3):hover {
    transform: scale(1.5);
}

.player i {
    margin: 0 5px;
    color: white;
    font-size: 12px;
}

.time {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-counter {
    font-size: 8px;
    color: white;
}

.time-bar {
    width: 60%;
    height: 2px;
    border: 2px solid ;
    border-radius: 2em;
    margin: 0 5px;
    color: rgba(122,124,129,255);
    position: relative;
}

.time-bar:hover .gone {
    background-color: lime;
}

.time-bar:hover .gone-hover {
    display: block;
}

.gone {
    width: 21.5%;
    border: 1px solid white;
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: white;
}

.gone-hover {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 21.5%;
    display: none;
}

.footer-container .right {
    justify-content: flex-end;
    padding-right: 8px;
}

.right i {
    font-size: 10px;
    color: white;
    margin: 0 5px;
}

.mxw {
    max-width: 100px;
}

@media screen and (max-height: 380px) {
    .bottom-container {
        height: 0%;
    }

    .top-container {
        height: 100%;
    }
}

@media screen and (min-width: 420px) {
    
    section {
        width: 150px;
        height: 100%;
        order: -1;
    }

    section .top-container,
    section .bottom-container {
        align-items: flex-start;
        padding-left: 10px;
    }
    
    .logo {
        width: 150px;
        height: 70px;
    }

    #logo-small {
        display: none;
    }

    #logo-big {
        display: inline-block;
    }

    #playlist {
        display: inline-block;
    }

    .bottom-container li:first-child {
        width: 130px;
        border-bottom: 1px solid white;
    }

    section ul li {
        display: flex;
        align-items: center;
    }

    section ul li a {
        display: inline-block;
    }

    header {
        width: calc(100% - 155px);
    }

    .scroll-container {
        width: calc(100% - 150px);
    }
   
}

@media screen and (min-width: 568px) {
    main .contenuto {
        width: calc(100% / 4 - 10px);
    }
}

@media screen and (min-width: 1024px) {
    main .contenuto {
        width: calc(100% / 6 - 10px);
    }
}

/* debug */
/* .debug {
    background-color: black;
} */

/* .debug .icon {
    border: 1px solid black;
} */
/* 
.debug header {
    background-color: blanchedalmond;
}

.debug section {
    background-color: brown;
}

.debug section .top-container {
    background-color: darkmagenta;
}

.debug main {
    background-color: chartreuse;
}  */

/* .debug main .contenuto {
    background-color: darkblue;
} */

/* .debug footer {
    background-color: chocolate;
}

.debug .footer-container .left,
.debug .footer-container .right {
    background-color: darkseagreen;
}